@page "/donantes"
@using Fundacion.Shared.Entidades
@using Fundacion.WEB.Repositories
@using Fundacion.WEB.Shared
@inject IRepository repository
@inject SweetAlertService sweetAlertService
@inject NavigationManager navigationManager

<div class="card">
    <div class="card-header">
        <span>
            <i class="bi bi-person" /> Donantes
            <a class="btn btn-primary btn-sm float-end" href="/donantes/create"><i class="bi bi-plus-circle" />Nuevo Donante</a>

        </span>
    </div>

    <div class="card-body">

        <GenericList MyList="Donantes">

            <Body>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <td></td>
                            <td>
                                Id
                            </td>
                            <td>
                                Nombre
                            </td>
                            <td>
                                Dirección
                            </td>
                            <td>
                                Correo
                            </td>
                            <td>
                                Teléfono
                            </td>
                            <td>
                                Atendido por
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Donantes!)
                        {
                            <tr>
                                <td>
                                    <a href="/donantes/edit/@item.Id" class="btn btn-sm btn-warning"><i class="bi bi-pencil-square" /> Editar</a>
                                    <button @onclick=@(() => DeleteAsycn(item)) class="btn btn-sm btn-danger"><i class="bi bi-trash-fill" /> Borrar</button>
                                </td>

                                <td>
                                    @item.Id
                                </td>
                                <td>
                                    @item.Nombre
                                </td>
                                <td>
                                    @item.Direccion
                                </td>
                                <td>
                                    @item.Correo
                                </td>

                                <td>
                                    @item.Telefono
                                </td>
                                <td>
                                    @item.EmpleadoId
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </Body>
        </GenericList>
    </div>
</div>


@code {
    public List<Donante> Donantes { get; set; }


    protected override async Task OnInitializedAsync()
    {
        await LoadAsync();
    }

    private async Task LoadAsync()
    {
        var responseHttp = await repository.GetAsync<List<Donante>>("api/donantes");
        if (responseHttp.Error)
        {
            var message = await responseHttp.GetErrorMessageAsync();
            await sweetAlertService.FireAsync("Error", message, SweetAlertIcon.Error);
            return;
        }
        Donantes = responseHttp.Response;
    }



    private async Task DeleteAsycn(Donante donante)
    {
        var result = await sweetAlertService.FireAsync(new SweetAlertOptions
            {
                Title = "Confirmaci n",
                Text = $" Estas seguro de querer borrar el donante: {donante.Nombre}?",
                Icon = SweetAlertIcon.Question,
                ShowCancelButton = true,
            });
        var confirm = string.IsNullOrEmpty(result.Value);
        if (confirm)
        {
            return;
        }

        var responseHttp = await repository.DeleteAsync<Donante>($"api/donantes/{donante.Id}");
        if (responseHttp.Error)
        {
            if (responseHttp.HttpResponseMessage.StatusCode == System.Net.HttpStatusCode.NotFound)
            {
                navigationManager.NavigateTo("donantes");
            }
            else
            {
                var mensajeError = await responseHttp.GetErrorMessageAsync();
                await sweetAlertService.FireAsync("Error", mensajeError, SweetAlertIcon.Error);
            }
            return;
        }

        await LoadAsync();
        var toast = sweetAlertService.Mixin(new SweetAlertOptions
            {
                Toast = true,
                Position = SweetAlertPosition.BottomEnd,
                ShowConfirmButton = true,
                Timer = 3000
            });
        await toast.FireAsync(icon: SweetAlertIcon.Success, message: "Registro borrado con éxito.");
    }

}
