@page "/donacionesMateriales"
@using Fundacion.Shared.Entidades
@using Fundacion.WEB.Repositories
@using Fundacion.WEB.Shared
@inject IRepository repository
@inject SweetAlertService sweetAlertService
@inject NavigationManager navigationManager

<div class="card">
    <div class="card-header">
        <span>
            <i class="bi bi-person" /> DonacionesMateriales
            <a class="btn btn-primary btn-sm float-end" href="/donacionesMateriales/create"><i class="bi bi-plus-circle" />Nueva Donación Material</a>

        </span>
    </div>

    <div class="card-body">

        <GenericList MyList="DonacionesMateriales">

            <Body>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <td></td>
                            <td>
                                Descripción
                            </td>
                            <td>
                                Cantidad
                            </td>
                            <td>
                                Fecha
                            </td>
                            <td>
                                Id Donante
                            </td>
                            <td>
                                Id Programa
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in DonacionesMateriales!)
                        {
                            <tr>
                                <td>
                                    <a href="/donacionesMateriales/edit/@item.Id" class="btn btn-sm btn-warning"><i class="bi bi-pencil-square" /> Editar</a>
                                    <button @onclick=@(() => DeleteAsycn(item)) class="btn btn-sm btn-danger"><i class="bi bi-trash-fill" /> Borrar</button>
                                </td>

                                <td>
                                    @item.Descripcion
                                </td>
                                <td>
                                    @item.Cantidad
                                </td>
                                <td>
                                    @item.Fecha
                                </td>
                                <td>
                                    @item.DonanteId
                                </td>
                                <td>
                                    @item.ProgramaId
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </Body>
        </GenericList>
    </div>
</div>


@code {
    public List<DonacionMaterial> DonacionesMateriales { get; set; }


    protected override async Task OnInitializedAsync()
    {
        await LoadAsync();
    }

    private async Task LoadAsync()
    {
        var responseHttp = await repository.GetAsync<List<DonacionMaterial>>("api/donacionesMateriales");
        if (responseHttp.Error)
        {
            var message = await responseHttp.GetErrorMessageAsync();
            await sweetAlertService.FireAsync("Error", message, SweetAlertIcon.Error);
            return;
        }
        DonacionesMateriales = responseHttp.Response;
    }



    private async Task DeleteAsycn(DonacionMaterial donacionMaterial)
    {
        var result = await sweetAlertService.FireAsync(new SweetAlertOptions
            {
                Title = "Confirmación",
                Text = $"¿Estas seguro de querer borrar el donacionMaterial: {donacionMaterial.Descripcion}?",
                Icon = SweetAlertIcon.Question,
                ShowCancelButton = true,
            });
        var confirm = string.IsNullOrEmpty(result.Value);
        if (confirm)
        {
            return;
        }

        var responseHttp = await repository.DeleteAsync<DonacionMaterial>($"api/donacionesMateriales/{donacionMaterial.Id}");
        if (responseHttp.Error)
        {
            if (responseHttp.HttpResponseMessage.StatusCode == System.Net.HttpStatusCode.NotFound)
            {
                navigationManager.NavigateTo("donacionesMateriales");
            }
            else
            {
                var mensajeError = await responseHttp.GetErrorMessageAsync();
                await sweetAlertService.FireAsync("Error", mensajeError, SweetAlertIcon.Error);
            }
            return;
        }

        await LoadAsync();
        var toast = sweetAlertService.Mixin(new SweetAlertOptions
            {
                Toast = true,
                Position = SweetAlertPosition.BottomEnd,
                ShowConfirmButton = true,
                Timer = 3000
            });
        await toast.FireAsync(icon: SweetAlertIcon.Success, message: "Registro borrado con éxito.");
    }

}
