@page "/programas"
@using Fundacion.Shared.Entidades
@using Fundacion.WEB.Repositories
@using Fundacion.WEB.Shared
@inject IRepository repository
@inject SweetAlertService sweetAlertService
@inject NavigationManager navigationManager

<div class="card">
    <div class="card-header">
        <span>
            <i class="bi bi-person" /> Programas
            <a class="btn btn-primary btn-sm float-end" href="/programas/create"><i class="bi bi-plus-circle" />Nuevo Programa</a>

        </span>
    </div>

    <div class="card-body">

        <GenericList MyList="Programas">

            <Body>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <td></td>
                            <td>
                                Id
                            </td>
                            <td>
                                Nombre
                            </td>
                            <td>
                                Descripción
                            </td>
                            <td>
                                Fecha Inicio
                            </td>
                            <td>
                                Fecha Fin
                            </td>
                            <td>
                                Presupuesto
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Programas!)
                        {
                            <tr>
                                <td>
                                    <a href="/programas/edit/@item.Id" class="btn btn-sm btn-warning"><i class="bi bi-pencil-square" /> Editar</a>
                                    <button @onclick=@(() => DeleteAsycn(item)) class="btn btn-sm btn-danger"><i class="bi bi-trash-fill" /> Borrar</button>
                                </td>

                                <td>
                                    @item.Id
                                </td>
                                <td>
                                    @item.Nombre
                                </td>
                                <td>
                                    @item.Descripcion
                                </td>
                                <td>
                                    @item.FechaInicio
                                </td>

                                <td>
                                    @item.FechaFin
                                </td>
                                <td>
                                    @item.Presupuesto
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </Body>
        </GenericList>
    </div>
</div>


@code {
    public List<Programa> Programas { get; set; }


    protected override async Task OnInitializedAsync()
    {
        await LoadAsync();
    }

    private async Task LoadAsync()
    {
        var responseHttp = await repository.GetAsync<List<Programa>>("api/programas");
        if (responseHttp.Error)
        {
            var message = await responseHttp.GetErrorMessageAsync();
            await sweetAlertService.FireAsync("Error", message, SweetAlertIcon.Error);
            return;
        }
        Programas = responseHttp.Response;
    }



    private async Task DeleteAsycn(Programa programa)
    {
        var result = await sweetAlertService.FireAsync(new SweetAlertOptions
            {
                Title = "Confirmación",
                Text = $"¿Estas seguro de querer borrar el programa: {programa.Nombre}?",
                Icon = SweetAlertIcon.Question,
                ShowCancelButton = true,
            });
        var confirm = string.IsNullOrEmpty(result.Value);
        if (confirm)
        {
            return;
        }

        var responseHttp = await repository.DeleteAsync<Programa>($"api/programas/{programa.Id}");
        if (responseHttp.Error)
        {
            if (responseHttp.HttpResponseMessage.StatusCode == System.Net.HttpStatusCode.NotFound)
            {
                navigationManager.NavigateTo("programas");
            }
            else
            {
                var mensajeError = await responseHttp.GetErrorMessageAsync();
                await sweetAlertService.FireAsync("Error", mensajeError, SweetAlertIcon.Error);
            }
            return;
        }

        await LoadAsync();
        var toast = sweetAlertService.Mixin(new SweetAlertOptions
            {
                Toast = true,
                Position = SweetAlertPosition.BottomEnd,
                ShowConfirmButton = true,
                Timer = 3000
            });
        await toast.FireAsync(icon: SweetAlertIcon.Success, message: "Registro borrado con éxito.");
    }

}


