@using Fundacion.Shared.Entidades
@using Fundacion.WEB.Repositories
@using Fundacion.WEB.Shared

@inject IRepository repository
@inject SweetAlertService swal


<NavigationLock OnBeforeInternalNavigation="OnBeforeInternalNavigation"></NavigationLock>

<EditForm Model="Voluntario" OnSubmit="OnSubmit">
    <DataAnnotationsValidator />
    <div class="mb-3">
        <label>Nombre:</label>
        <div>
            <InputText width="10" @bind-Value="Voluntario.Nombre"></InputText>
            <ValidationMessage For="@(() => Voluntario.Nombre)" />
        </div>
    </div>

    <div class="mb-3">
        <label>Direccion:</label>
        <div>
            <InputText width="10" @bind-Value="Voluntario.Direccion"></InputText>
            <ValidationMessage For="@(() => Voluntario.Direccion)" />
        </div>
    </div>

    <div class="mb-3">
        <label>Correo:</label>
        <div>
            <InputText width="10" @bind-Value="Voluntario.Correo"></InputText>
            <ValidationMessage For="@(() => Voluntario.Correo)" />
        </div>
    </div>

    <div class="mb-3">
        <label>Telefono:</label>
        <div>
            <InputText width="10" @bind-Value="Voluntario.Telefono"></InputText>
            <ValidationMessage For="@(() => Voluntario.Telefono)" />
        </div>
    </div>

    <div class="mb-3">
        <label>Disponibilidad:</label>
        <div>
            <InputText width="10" @bind-Value="Voluntario.Disponibilidad"></InputText>
            <ValidationMessage For="@(() => Voluntario.Disponibilidad)" />
        </div>
    </div>

    <div class="mb-3">
        <label>Area:</label>
        <div>
            <InputText width="10" @bind-Value="Voluntario.Area"></InputText>
            <ValidationMessage For="@(() => Voluntario.Area)" />
        </div>
    </div>

    <button class="btn btn-primary" type="submit"><i class="bi bi-floppy" />Guardar Cambios</button>
    <button class="btn btn-info" type="reset"><i class="bi bi-x-circle" />Limpiar</button>
    <button class="btn btn-success" @onclick="ReturnAction"><i class="bi bi-arrow-left" />Regresar</button>
</EditForm>
@code {

    private EditContext editContext = null!;
    protected override void OnInitialized()
    {
        editContext = new(Voluntario);
    }

    [Parameter]
    [EditorRequired]
    public Voluntario Voluntario { get; set; } = null!;

    [Parameter]
    [EditorRequired]
    public EventCallback OnSubmit { get; set; }


    [EditorRequired]
    [Parameter]
    public EventCallback ReturnAction { get; set; }

    public bool FormularioPosteadoConExito { get; set; } = false;


    private async Task OnBeforeInternalNavigation(LocationChangingContext context)
    {
        var formularioFueEditado = editContext.IsModified();

        if (!formularioFueEditado)
        {
            return;
        }

        if (FormularioPosteadoConExito)
        {
            return;
        }

        var resultado = await swal.FireAsync(new SweetAlertOptions
            {
                Title = "Confirmación",
                Text = "¿Deseas abandonar la página y perder los cambios?",
                Icon = SweetAlertIcon.Warning,
                ShowCancelButton = true
            });

        var confirmado = !string.IsNullOrEmpty(resultado.Value);

        if (confirmado)
        {
            return;
        }

        context.PreventNavigation();
    }
}
